*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.flex-container{
    display: flex;
}

.p-relative{
    position: relative;
}

nav, main{
    width: 60%;
}

header{
    height: 4rem;
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav{
    height: 100%;
    margin: 0 auto;
    color: white;
}

nav>div{
    flex-basis: calc(100% / 3);
}

#menu-nav ul{
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}

ul li{
    padding: 0 0.3rem;
}

nav #logo{
    justify-content: center;
    align-items: center;
}

#logo img{
    height: 50%;
}

nav #icons-nav{
    justify-content: flex-end;
    align-items: center;
}

header span{
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}

main{
    padding-left: 1rem;
    margin: 8rem auto;
}

article{
    height: 30rem;
    flex-basis: calc((100% / 3) - 1rem);
    border: 1px solid black;
    margin: 1.5rem 1rem 1.5rem 0;
}

.box-image{
    height: 85%;
    background-color: #efefef;
    position: relative;
}

.row .box-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#pic-1{
    background-image: url(../img/1.webp);
}

#pic-2{
    background-image: url(../img/2.webp);
}

#pic-3{
    background-image: url(../img/3.webp);
}

#pic-4{
    background-image: url(../img/4.webp);
}

#pic-5{
    background-image: url(../img/5.webp);
}

#pic-6{
    background-image: url(../img/6.webp);
}

.colored-box{
    font-size: 0.8rem;
    color: white;
    padding: 0.3rem;
    position: absolute;
    bottom: 1.3rem;
}

.discount{
    background-color: red;
    z-index: 1;
}

.sostenibility{
    background-color: green;
    position: absolute;
    left: 3rem;
}

span#only-green{
    position: absolute;
    left: 0;
}

.heart{
    font-size: 2rem;
    text-align: center;
    padding-top: 0.4rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    position: absolute;
    right: 0;
    top: 1rem;
}

.description{
    height: 15%;
    padding-top: 0.5rem;
}

h5{
    text-transform: uppercase;
    font-weight: bold;
}

article p.prices{
    font-size: 0.75rem;
}

article p.brand{
    font-weight: lighter;
    font-size: 0.8rem;
}

.description .price{
    color: red;
}

.description .last-price{
    text-decoration: line-through;
}

footer{
    background-color: #1a1a1a;
    height: 15.5rem
}

hr{
    color: white;
}

section.upper-footer{
    margin: 0 auto;
    height: 7.5rem;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.caption p{
    display: inline-block;
    margin-top: 0.8rem;
    font-weight: lighter;
}

.social p{
    margin-bottom: 0.6rem;
}

.social span{
    padding-right: 0.7rem;
}

section.under-footer{
    height: 8rem;
}